// если вы хотите использовать sass-переменные - удалите root
// colors

%Asap-400 {
  font-family: "Asap-Regular", sans-serif;
  font-weight: 400;
}

%Asap-600 {
  font-family: "Asap-SemiBold", sans-serif;
  font-weight: 600;
}

%Inter-200 {
  font-family: "Inter-ExtraLight", sans-serif;
  font-weight: 200;
}

%Inter-500 {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}

%Inter-400 {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
}

%Karma-500 {
  font-family: "Karma-Medium", sans-serif;
  font-weight: 500;
}

%OpenSans-400 {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}

%KaushanScript-400 {
  font-family: "KaushanScript-Regular", cursive;
  font-weight: 400;
}

%GreatVibes-400 {
  font-family: "GreatVibes-Regular", cursive;
  font-weight: 400;
}

%PatrickHand-400 {
  font-family: "PatrickHand-Regular", cursive;
  font-weight: 400;
}

%Kalam-400 {
  font-family: "Kalam-Regular", cursive;
  font-weight: 400;
}

:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1575px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --black: #000;
  --light-green: #7d9457;
  --dark-green: #506233;
}