<header class="header">
  <div class="container">

    <div class="header__wrapper">
      <h1 style="display: none">Hytte</h1>
      <div class="header__logo">
        <a class="logo" href="index.html">
          <img class="logo__img" src="images/logo.svg" alt="logo">
        </a>
      </div>

      <!-- top menu -->
      <div class="header__navbar">
        <!-- menu -->
        <div class="menu">
          <button class="menu__btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <nav class="menu__nav">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#!">Hytte</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#!">Options</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#!">Book</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#!">App</a>
              </li>

            </ul>
          </nav>
        </div>
        <!-- <div class="header__social"> -->
        <ul class=" header__social social">
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/" target="_blank">
              <img class="social__icon" src="images/instagram.svg" alt="instagram">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.youtube.com/" target="_blank">
              <img class="social__icon" src="images/youtube.svg" alt="youtube">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.tiktok.com/en/" target="_blank">
              <img class="social__icon" src="images/tiktok.svg" alt="tiktok">
            </a>
          </li>
        </ul>
        <!-- </div> -->
      </div>
      <p class="header__text">
        Originally, a hytte was a very basic log cabin with no running water or electricity.
        Plenty of these still exist especially up in the mountains and along cross-country skiing trails.
        But today, hytte also refers to a wooden holiday cottage.
      </p>

    </div>
  </div>
</header>
