.menu {
  /* padding-right: 90px; */
  display: flex;
  justify-content: flex-end;
}

.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  gap: 7px;
  padding-right: 33px;
  flex-direction: row;

}



.menu__item {
  border-radius: 49px;
  background-color: #FFFFFF1A;
  transition: all .3s;
}

.menu__link {
  display: inline-block;
  font-family: 'Carme', sans-serif;
  font-size: 12px;
  color: #3B505A;
  padding: 12px 16px;
  border-radius: 48.561px;
  background-color: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(21.043128967285156px);
  cursor: pointer;
  transition: background-color .5s;
  border: 1px solid transparent;
}

.menu__link:hover {
  color: #3B505A;
  background-color: #e6e6e6;
}


.menu__link:focus {
  border-color: #fff;
}

@media (max-width: 768px) {
  .menu {
    padding-right: 40px;
  }

  .menu__btn {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 22px;
    border: none;
    padding: 0;
    top: 30px;
    left: 40px;
    z-index: 2;
    position: absolute;
    background-color: transparent;
  }

  .menu__list {
    position: fixed;
    display: block;
    max-height: 65.2vh;
    overflow: auto;
    width: calc(100% - 30px);
    background-color: #fff;
    z-index: 2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translate(-50%, -200%);
    left: 50%;
    transition: all .5s;
    padding: 20px;
  }

  .menu__list--active {
    transform: translate(-50%, 17%);
  }

  .menu__btn span {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 0px;
    left: 0;
    background-color: #fff;
    transition: all .5s;
  }

  .menu__btn span:nth-of-type(2) {
    top: 10px;
  }

  .menu__btn span:nth-of-type(3) {
    top: 20px;
  }

  .menu__btn--active span:nth-of-type(1) {
    width: 0;
  }

  .menu__btn--active span:nth-of-type(2) {
    top: 50%;
    transform: rotate(45deg);
  }

  .menu__btn--active span:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .menu__item {
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }

  .menu__link {
    display: block;
    padding: 12px 0;
  }

  .menu__item.active {
    background-color: transparent;
    border: 1px solid #3B505A;
  }


}


@media (max-width: 620px) {


  .menu {
    padding-right: 45px;
  }
}
